.doc[data-v-ae1331b0] {
  margin: 10px;
  line-height: 2em;
}
.doc h1[data-v-ae1331b0] {
  font-size: 1.5em;
  margin: 1.5em 0 0.5em;
}
.doc p[data-v-ae1331b0] {
  text-indent: 2em;
}
.doc ul[data-v-ae1331b0] {
  margin-left: 2.5em;
  margin-bottom: 1em;
}

