@font-face {
  font-family: "iconfont"; /* Project id 3843543 */
  src: url('//at.alicdn.com/t/c/font_3843543_ovms2sr8an.woff2?t=1672237946852') format('woff2'),
       url('//at.alicdn.com/t/c/font_3843543_ovms2sr8an.woff?t=1672237946852') format('woff'),
       url('//at.alicdn.com/t/c/font_3843543_ovms2sr8an.ttf?t=1672237946852') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 4px 0 2px;
}

.icon-edit:before {
  content: "\e780";
}

.icon-delete:before {
  content: "\e604";
}

.icon-close:before {
  content: "\e724";
}

.icon-add2:before {
  content: "\e726";
}

.icon-add:before {
  content: "\e728";
}

.icon-ok:before {
  content: "\e730";
}