/* 通用选择器，针对所有标签 */
* {
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Heiti, "黑体", SimSun, "宋体", sans-serif;
}

html {
    font-size: 14px;
}

html,
body {
    height: 100%;
    width: 100%;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


